.boxButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  margin-right: 10px;
  padding: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;

  cursor: pointer;
  outline: none;
  border: inherit;
  border-radius: 5px;
  color: aliceblue;
  background-color: blueviolet;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear;
}
.button:hover {
  box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}
